/* Add CSS styling here */
* {
  box-sizing: border-box;
}


.title {
  font-family: fantasy;
  font-size: 2.875em;
}


.container about-nav {
  justify-content: center;
  background-color: pink;
}


nav {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1;
  overflow: hidden; 
}

@media screen and (max-width: 500px){
  nav {
    margin: 10%;
    padding: 0;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 800px){
  nav {
    margin: 10%;
    padding: 0;
    width: 100%;
  }
}


button {
  font-size: 20px; 
}

@media screen and (min-width: 500px){
  button{
    font-size: 50px;
  }
}


.container-flex {
  display: flex;
  width: 100%;
  margin: 0 auto; 
  padding: 40px;
 }



.text{
  width: 40%;
  padding: 30%;
  justify-content: center;
  align-items: center;
  
}

p {
  font-family: monospace;
  font-size: 1vw;
}

h1, h3 {
  font-style: normal;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 40px;
  /* flex-direction: row; */
}

footer {
   text-align: center;
}







    



